

<style>

body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.main-page-container  {
  display: table;
  width: 99.7%;
  padding: 5px 1px 0px 1px;
}

.main-page-container-rows  {
  display: table-row;
}

.header .cells {
  display: table-cell;
}


/* ...................................... */

#scan {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  font-size: 80px;
  margin-bottom: 6px;
  width: 44%;
}

.header .icons {
  width: 100px;
  height: 100px;
}

/* ...................................... */
</style>



<div class="main-page-container-rows header">
  <div class="cells" style="width:5.5%;">
    <span class="icons small-icons">
      <img src='/images/icons/barcode.png' class='icons'  />
    </span>
  </div>
  <div class="cells" style="width:79.5%; border-style: solid; border-width: 0px;">
    <input type="text" name="barcode" id="scan" />
  </div>
  <div class="cells" style="border-style: solid; text-align: center; border-width: 1px; width: 10%;">
    <span class="icons small-icons">
      <img src='/images/icons/union.png' class='icons'  />
    </span>
  </div>
</div>




<script language="javascript">
    doListSuggestions = false; //speeds up keyboard response

    var setFocusTimeout = 1000;
    var checkForBarcodeTimeout = 1500;
   
    function loadBarcodePage() {
       focusForBarcodeInput();
       moveNext();
    }

    function focusForBarcodeInput(){
      var barcode = document.getElementById("scan");
      if (barcode) {
         barcode.focus();
         window.setTimeout("focusForBarcodeInput()", setFocusTimeout);
      }
    }
    
   
    function moveNext(){
      usertext=document.getElementById("scan");
      if (usertext.value.match(/.+\$$/i) != null){
        usertext.value=usertext.value.substring(0,usertext.value.length -1);
        alert(usertext.value);
      }
       window.setTimeout("moveNext()", checkForBarcodeTimeout);
    }   
 
    window.addEventListener("load", loadBarcodePage, false);
  </script>

